.toolbox-columns {
    &.equal-height {
        > .row {
            > div { //column
                display: flex;
                flex: 0 0 100%;

                .toolbox-column {
                    display: flex;
                    flex: 0 0 100%;
                    flex-direction: column;

                    //toolbox image has .row .col-x
                    > .toolbox-image {
                        overflow: hidden;
                    }
                }
            }
        }
    }

    @for $i from 1 through 4 {
        &.column-#{$i}-grey {
            .row {
                > div:nth-child(#{$i}) {
                    .toolbox-column {
                        padding: $grid-gutter-width/2;
                        background: $dd-container-bg;
                    }
                }
            }
        }
    }
}