{# Main Navigation #}

{% set showSubLevels = pimcore_placeholder('show_sublevel') != 'false' %}
{% spaceless %}
    <ul class="ml-auto">
        {% for page in pages %}
            {% if page.getVisible() %}

                <li>
                    <a href="{{ page.getUri() }}" class="{{ page.getActive() ? 'active' : '' }}">
                        {{ page.getLabel() }}
                    </a>
                </li>

            {% endif %}
        {% endfor %}
    </ul>
{% endspaceless %}