a, .a {
    transition: color .35s ease-out;
    color: $blue;

    &.dd-link-internal {
        position: relative;
        padding-right: 1.3em;
        &:after {
            @include fa-icon();
            content: '\f0c1';
            padding-left: 3px;
            color: $secondary;
            position: absolute;
            top: 1px;
            right: 0;
        }
    }

    &.dd-link-external {
        position: relative;
        padding-right: 1.3em;
        &:after {
            @include fa-icon();
            content: '\f08e';
            padding-left: 5px;
            color: $secondary;
            position: absolute;
            top: 1px;
            right: 0;
        }
    }
}

h1, .h1 {
    @include style-tile-element('h1');
}

h2, .h2 {
    @include style-tile-element('h2');
}

h3, .h3 {
    @include style-tile-element('h3');
}

h4, .h4 {
    @include style-tile-element('h4');
}

h5, .h5 {
    @include style-tile-element('h5');
}

h6, .h6 {
    @include style-tile-element('p');
    font-weight: 800;
    margin-bottom: 0;
}

.big-title {
    @include style-tile-element('bigtitle');
}

p, .p {
    @include style-tile-element('p');
}

address, .address {
    @include style-tile-element('p');
}

.lead {
    &, p, li p {
        @include style-tile-element('lead');
    }
}

.text-small {
    &, p, li p {
        @include style-tile-element('text-small');
    }
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbox-content, .list-styled, .wysiwyg {
    ul {
        @include style-tile-element('ul');
    }
}

ul.list-styled {
    @include style-tile-element('ul');
}

.toolbox-content, .list-styled, .wysiwyg {
    ol {
        @include style-tile-element('ol');
    }
}

ol.list-styled {
    @include style-tile-element('ol');
}

ul, ol {
    &.list-unstyled {
        &, li, ul, ol {
            margin: 0;
            padding: 0;
            list-style: none;
            background: none;
        }
    }
}