{% extends pimcore_website_config('base_template') is not empty
? 'Base/template/'~pimcore_website_config('base_template')~'_template.html.twig' : 'Base/template/default_template.html.twig' %}


{% block content %}

    {% if not document.getProperty('hide_breadcrumb') %}
        {% include 'Includes/breadcrumb.html.twig' %}
    {% endif %}

    <div class="row">

        <div class="col-12 col-md-3">

            {% include 'Includes/sidebar.html.twig' %}

        </div>

        <div class="col-12 col-md-9">

            <div class="row">


                <div class="col-12 col-lg-7 col-xl-8">
                    <!-- main-content -->
                    {{ block('action') }}
                    <!-- /main-content -->
                </div>

                <div class="col-12 col-lg-5 col-xl-4">

                    <!-- main-content -->
                    {{ pimcore_areablock('contentBlockRight', toolbox_areablock_config('contentBlock')) }}
                    <!-- /main-content -->

                </div>
            </div>

        </div>

    </div>


{% endblock %}