<container>

    <row>
        <columns small="12" large="6">

            <h5>{{ pimcore_input('footer-headline-a') }}</h5>
            {{ pimcore_wysiwyg('footer-text-a') }}

        </columns>

        <columns small="12" large="6">

            <h5>{{ pimcore_input('footer-headline-b') }}</h5>
            {{ pimcore_wysiwyg('footer-text-b') }}

        </columns>
    </row>

</container>