<container>

    <row>
        <columns small="12" large="12" class="footer-note">
            <p class="text-center">
                <span class="text-nowrap">DACHCOM DIGITAL AG</span> | <span class="text-nowrap">Rorschacherstrasse 15</span> | <span class="text-nowrap">CH-9424 Rheineck</span> | <span class="text-nowrap">Telefon +41 71 886 45 85</span> | <span class="text-nowrap"><a href="mailto:digital@dachcom.ch">digital@dachcom.ch</a></span>
            </p>
        </columns>
    </row>

</container>